.loginheading{
    font-size: 33px;
    font-family: var(--open);
    color: var(--primary);
    font-weight: 700;
}
.logingooglebox{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 30px;
    padding-top: 23px;
    padding-bottom: 23px;
    width: 220px;
    border: 1px solid rgba(3, 1, 76, 0.3) ;
    border-radius: 8px;
}
.logingoogle{
    color: var(--primary);
    font-size: 13px;
    font-family: var(--open);
    font-weight: 600;
    letter-spacing: 0.267px;
}
.forgetpass{
    font-size: 14px;
    font-family: var(--open);
    text-transform: capitalize;
}
.forgetpass:hover{
    text-decoration: underline;
    color: red;
}
.updatepass{
    padding: 15px 30px;
    background-color: var(--secondary);
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: capitalize;
}